{% extends "layout2.html" %}
{% block body %}
{{ error }}

<h1>Register here</h1>

<p>All fields must be filled. Please fill your name and username of your choice.</p>
<p>Your name must be at least 2 characters and password atleast 3 characters long</p>

<form method="POST" action="{{ url_for('auth_register') }}">
  <div class="form-group">
    {{ form.name.label }}

    {{ form.name }}

    {% for error in form.name.errors %}
    {{ error }}
    {% endfor %}

  </div>

  <div class="form-group">
    {{ form.username.label }}

    {{ form.username }}

    {% for error in form.username.errors %}
    {{ error }}
    {% endfor %}



  </div>
  <div class="form-group">
    {{ form.password.label }}
    {{ form.password }}

    {% for error in form.password.errors %}
    {{ error }}
    {% endfor %}


  </div>
  <div class="form-group">
    {{ form.password2.label }}

    {{ form.password2 }}

    {% for error in form.name.errors %}
    {{ error }}
    {% endfor %}
  </div>

  <button type="input" class="btn btn-primary">Register</button>

</form>
{% endblock %}