{% extends "layout2.html" %}
{% block body %}
{{ error }}

<h1>Register here</h1>

<p>All fields must be filled. Please fill your name and username of your choice.</p>
<p>Your name must be at least 2 characters and password atleast 3 characters long</p>

<form method="POST" action="{{ url_for('auth_register') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.password2.label }}
      </td>
      <td>
        {{ form.password2 }}
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <button type="input" class="btn btn-primary">Register</button>
      </td>
    </tr>
</form>
{% endblock %}