{% extends "layout.html" %}

{% block title %}User listing{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Users listed below</th>

        <th></th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>


        <td>{% if user.is_admin() %}
            Admin
            {% else %}
            Basic user
            {% endif %}
        </td>
        <td>
            <form method="POST" action="{{ url_for('set_as_admin', user_id=user.id) }}">
                <button type="button" class="btn btn-primary btn-sm">Change role</button>

            </form>
        </td>


    </tr>
    {% endfor %}
</table>


{% endblock %}