{% extends "layout.html" %}


<h1> {% block title %}Add new recipe{% endblock %}</h1>
{% block body %}
<form method="POST" action="{{ url_for('recipe_create') }}">

  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name}}
      </td>
    </tr>
    <tr>

      <td>{{form.description.label}}</td>
      <td>{{form.description(size=30, maxlength=50)}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Add a new recipe" />
      </td>
    </tr>

</form>
{% endblock %}